{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <!-- Ensure RWD -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tic tac toe VS AI</title>
        <!-- Links to minified bootstrap CDN -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- Link to customized css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Link to jQuery library-->
        <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"> </script>
        <!-- Link to customized jS script-->
        <script type="text/javascript" src="{% static 'js/script.js' %}"> </script>

    </head>
    <body>

        <div class="container">

            <h1 align="center">tic tac toe</h1>
            <h1 align="center">AI</h1>

            <p align="center" style="width: 298px; margin: auto; margin-bottom: 1em; text-align: center;">Face an <span style="font: bold; color: gray;">algorithmically intelligent</span> opponent by clicking your chosen tile or asking the (other) machine to go first</p>

            <div style="display: table; margin: auto;">
                <div id="move_AI" style="display: inline-block; margin-bottom: 1em; margin-right: 2px;">
                <!-- 95x95 pixels for the button currently works -->
                    <img src="{% static "computer.png" %}" alt="My image"/>
                </div>
                <div id="clearer" style="display: inline-block; margin-bottom: 1em;">
                    <img src="{% static "restart.png" %}" alt="My image"/>
                </div>
                <div id="move_AI" style="display: inline-block; margin-bottom: 1em; margin-left: 2px;">
                    <img src="{% static "human.png" %}" alt="My image"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 hid">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                             <table style="margin: auto;">
                                <tr>
                                    <td class ="tile" id="0"> </td>
                                    <td class ="tile" id="1"> </td>
                                    <td class ="tile" id="2"> </td>
                                </tr>
                                <tr>
                                    <td class ="tile" id="3"> </td>
                                    <td class ="tile" id="4"> </td>
                                    <td class ="tile" id="5"> </td>
                                </tr>
                                <tr>
                                    <td class ="tile" id="6"> </td>
                                    <td class ="tile" id="7"> </td>
                                    <td class ="tile" id="8"> </td>
                                </td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: table; margin: auto; margin-top: 0em">
                <div style="display: inline-block; width: 190px; margin-top: 0em">
                    <p align="center" style="text-align: left; margin-top: 1em;">Click to see how the <span style="font: bold; color: gray;">AI perceived</span> the board and made its decisions</p>
                </div>
                <div id="move_AI" style="display: inline-block;">
                    <img src="{% static "human.png" %}" alt="My image"/>
                </div>
            </div>
        </div>
    </body>
</html>