table {
    border-collapse: separate;
}

td {
    background-color: #eeeeee;
    border: solid white 4px;
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: 200%;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    color: black;
}
