/*
* — Font for all text elements —
*/

p, td, h2, h3, div {
    font-family: Segoe UI;
    font-weight: lighter;
}

/*
* — 3x3 Board style —
*/

table {
    border-collapse: separate;
}

td {
    background-color: #eeeeee;
    border: solid white 4px;
    width: 3.5em;
    height: 3.5em;
    text-align: center;
    font-size: 200%;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    color: black;
}

/*
* — Navigation Buttons —
*/

.button {
    height: 83px;
    width: 83px;
    font-size: 15px;
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: color 1s ease;
    transition: background 1s ease;
}

#ai_thought_button {
    background: #b4b4b4;
}

#ai_move_button, #restart_button {
    background: #FFCD4C;
}